
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_f" /></td>
</tr>
<tr>
	<td colspan="{COLSPAN_M}" class="mod_bakery_cart_total_f">{TXT_SUM}</td>
	<td style="text-align: right">{SETTING_SHOP_CURRENCY}&nbsp;{ORDER_TOTAL}</td>
</tr>
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_f" /></td>
</tr>
<tr>
	<td colspan="{COLSPAN_L}">
	<table width="98%">
		<tr>
			<td width="20%" align="left"><input type="submit" name="continue_shopping" class="mod_bakery_bt_continue_f" value="{TXT_CONTINUE_SHOPPING}" /></td>
			<td align="right"><input type="submit" name="update_cart" id="update" class="mod_bakery_bt_update_f" value="{TXT_UPDATE_CART}" /></td>
			<td width="20%" align="right"><input type="submit" name="submit_order" class="mod_bakery_bt_order_f" value="{TXT_SUBMIT_ORDER}" /></td>
		</tr>
	</table>
	</td>
</tr>
</table>
<input type="hidden" name="order_id" value="{ORDER_ID}" />
</form>
