
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_b" /></td>
</tr>
<tr>
	<td colspan="{COLSPAN_M}" class="mod_bakery_invoice_subtotal_b">{TXT_SUBTOTAL}</td>
	<td style="text-align: right">{SETTING_SHOP_CURRENCY}&nbsp;{ORDER_SUBTOTAL}</td>
</tr>
<tr>
	<td colspan="{COLSPAN_M}" class="{CSS_CLASS_INVOICE_SHIPPING}">{TXT_SHIPPING_COST}</td>
	<td style="text-align: right">{SETTING_SHOP_CURRENCY}&nbsp;{SHIPPING}</td>
</tr>
<tr style="display: {DISPLAY_TAX}">
	<td colspan="{COLSPAN_M}" class="mod_bakery_invoice_tax_b">{TXT_INCL} {TAX_RATE} {TXT_TAX}</td>
	<td style="text-align: right">{SETTING_SHOP_CURRENCY}&nbsp;{SALES_TAX}</td>
</tr>
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_b" /></td>
</tr>
<tr>
	<td colspan="{COLSPAN_M}" class="mod_bakery_invoice_total_b">{TXT_TOTAL}</td>
	<td style="text-align: right">{SETTING_SHOP_CURRENCY}&nbsp;{ORDER_TOTAL}</td></tr>
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_b" /></td>
</tr>
</table>