
<tr>
	<td class="mod_bakery_invoice_td_sku_b">{SKU}</td>
	<td class="mod_bakery_invoice_td_name_b"><span class="mod_bakery_invoice_item_b">{NAME}</span><br />{ATTRIBUTE}</td>
	<td class="mod_bakery_invoice_td_quantity_b">{QUANTITY}</td>
	<td class="mod_bakery_invoice_td_price_b">{PRICE}</td>
	<td class="mod_bakery_invoice_td_shipping_b" style="display: {DISPLAY_SHIPPING}">{SHIPPING}</td>
	<td class="mod_bakery_invoice_td_tax_rate_b" style="display: {DISPLAY_TAX_RATE}">{ITEM_TAX_RATE}</td>
	<td class="mod_bakery_invoice_td_sum_b">{TOTAL}</td>
</tr>