
<table width="98%" border="0">
<tr>
	<th class="mod_bakery_invoice_th_sku_b">{TXT_SKU}</th>
	<th class="mod_bakery_invoice_th_name_b">{TXT_NAME}</th>
	<th class="mod_bakery_invoice_th_quantity_b">{TXT_QUANTITY}</th>
	<th class="mod_bakery_invoice_th_price_b">{TXT_PRICE}<br />
		<span class="mod_bakery_invoice_currency_b">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
	<th class="mod_bakery_invoice_th_shipping_b" style="display: {DISPLAY_SHIPPING}">{TXT_SHIPPING}<br />
		<span class="mod_bakery_invoice_currency_b">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
	<th class="mod_bakery_invoice_th_tax_rate_b" style="display: {DISPLAY_TAX_RATE}">{TXT_TAX}<br />
		<span class="mod_bakery_invoice_tax_rate_b">% &nbsp;</span></th>
	<th class="mod_bakery_invoice_th_sum_b">{TXT_SUM}<br />
		<span class="mod_bakery_invoice_currency_b">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
</tr>
<tr>
	<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_b" /></td>
</tr>