
<div class="mod_bakery_error_f" style="margin-top: 50px"><p>{ERR_AGREE}</p></div>
	<form action="{SETTING_CONTINUE_URL}" method="post">
		<p style="text-align: center; font-weight: bold; margin-top: 40px">
			<input type="checkbox" name="agree" value="yes" />&nbsp;&nbsp;
			<a href="{SETTING_TAC_URL}" target="_blank">{TXT_AGREE} {SETTING_SHOP_NAME}"</a>
		</p>
		<p style="text-align: center">
			<input type="submit" name="summary" class="mod_bakery_bt_order_f" value="{TXT_SUBMIT_ORDER}" />
		</p>
	</form>
</div>