
	<tr>
		<td class="mod_bakery_cart_td_sku_f">{SKU}</td>
		<td class="mod_bakery_cart_td_name_f">
			<span class="mod_bakery_cart_item_f">{NAME}</span><br />{ATTRIBUTE}<br />
			<span class="mod_bakery_cart_item_desc_f" title="{DESCRIPTION}">{DESCRIPTION}</span>
		</td>
		<td class="mod_bakery_cart_td_quantity_f">{QUANTITY}</td>
		<td class="mod_bakery_cart_td_price_f">{PRICE}</td>
		<td class="mod_bakery_cart_td_shipping_f" style="display: {DISPLAY_SHIPPING}">{SHIPPING}</td>
		<td class="mod_bakery_cart_td_sum_f">{TOTAL}</td>
	</tr>