
<div style="margin-top: 25px">
	<table width="98%" border="0">
	<tr>
		<th class="mod_bakery_cart_th_sku_f">{TXT_SKU}</th>
		<th class="mod_bakery_cart_th_name_f">{TXT_NAME}</th>
		<th class="mod_bakery_cart_th_quantity_f">{TXT_QUANTITY}</th>
		<th class="mod_bakery_cart_th_price_f">{TXT_PRICE}<br />
			<span class="mod_bakery_cart_currency_f">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
		<th class="mod_bakery_cart_th_shipping_f" style="display: {DISPLAY_SHIPPING}">{TXT_SHIPPING}<br />
			<span class="mod_bakery_cart_currency_f">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
		<th class="mod_bakery_cart_th_sum_f">{TXT_SUM}<br />
			<span class="mod_bakery_cart_currency_f">{SETTING_SHOP_CURRENCY} &nbsp;&nbsp;</span></th>
	</tr>
	<tr>
		<td colspan="{COLSPAN_L}"><hr class="mod_bakery_hr_f" /></td>
	</tr>